<div class="popup popup_sign">
    <h2 class="common-visually-hidden">Modal Window</h2>
    <button class="popup_close popup_close_sign-js">
      <svg width="26" height="26">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
      </svg>
    </button>
    <form action="https://echo.htmlacademy.ru" method="get" class="form form_sign-js" name="signIn">
        <div class="form__fieldset">
            <div class="form__column">
                <label for="sign_email" class="form__label">Email<span class="form__required"> *</span></label>
                <input id="sign_email" class="form__input" type="email" name="email">
                <div class="form__alert form__alert_warning hidden">Please enter a valid email address (your entry is not in the format "somebody@example.com")</div>
                <div class="form__alert form__alert_excellent hidden">All right</div>
            </div>
        </div>
        <div class="form__fieldset">    
            <div class="form__column">
                <label for="sign_password" class="form__label">Password<span class="form__required"> *</span></label>   
                <input id="sign_password" class="form__input" type="password" name="password">
                <div class="form__alert form__alert_warning hidden">This field is required</div>
                <div class="form__alert form__alert_excellent hidden">All right</div>
            </div>
        </div>
        <button type="submit" class="button button_form">Log in</button>
    </form>
</div>