.post {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    

    &__item {
        display: flex;
        border-top: 2px solid $mercury;
        padding: 20px 0;
    }
    
    &__picture {
        width: 320px;
        height: 236px;
        flex-shrink: 0;
    }

    &__wrapper {
        padding: 0 20px;
    }

    &__info {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        color: $gray;
        margin: 10px 0 0;
    }

    &__tags {
        display: flex;
    }

    &__tag {
        display: block;
        width: 30px;
        height: 10px;
        border-radius: 5px;
        margin: 0 5px 0 0;
    }

    &__link {
        font-weight: 700;
        border-bottom: 1px dashed $black;
        &:hover,
        &:focus {
            border-bottom: 1px solid $black;
        }
    }

    &__date,
    &__views,
    &__comments {
        display: block;
        margin: 0 10px 0 0;
    }
}