.button {
    border: 2.5px solid $black;
    border-radius: 30px;
    background-color: $white;
    color: $black;
    align-items: center;
    padding: 10px 19px;
    @include font-size(18px,22px,bold);
    transition: color $transition, background-color $transition;
    &:hover {
        background-color: $black;
        color: $white;
    }
    &:focus {
        background-color: $black;
        color: $white;
    }
    &__link {
        @include font-size(18px,22px,700);
        border: none;
        background-color: transparent;
        color: $gray;
        cursor: pointer;
        padding: 0;
        transition: color $transition;
        &:hover {
            color: $black;
        }
        &_hidden {
            display: none;
        }
    }
    &__black {
        border: 2.5px solid $black;
        border-radius: 30px;
        background-color: $black;
        color: $white;
        align-items: center;
        padding: 10px 29px;
        @include font-size(18px,22px,normal);
        cursor: pointer;
        transition: background-color $transition, color $transition;
        margin: 0 0 40px 0;
        &:hover {
            border: 2.5px solid $black;
            background-color: $white;
            color: $black;
        }
        &:focus {
            border: 2.5px solid $black;
            background-color: $white;
            color: $black;
        }
    }
    &__form {
        border: 2.5px solid $black;
        border-radius: 30px;
        padding: 10px 19px;
        margin: 20px 0 0 0;
        background-color: transparent;
        color: $black;
        @include font-size(18px,22px,bold);
        transition: color $transition, background-color $transition;
        &:hover {
            background-color: $black;
            color: $white;
        }
        &:focus {
            background-color: $black;
            color: $white;
        }
        &:disabled {
            border: 2.5px solid $mercury;
            background-color: $white;
            color: $mercury;
            transition: color $transition, background-color $transition;
            &:hover {
                border: 2.5px solid $gray;
                color: $gray;
            }
        }
    }
}