<header class="header container">
  <a href="/" class="header__logo">Home</a>
  <nav>
      <ul class="header__nav common-no-list">
          <li class="header__item">
            <a href="../../pages/blog/index.html" class="button button_link">My blog</a>
          </li>
          <li class="header__item">
            @@include('button/index.html', {
              "class":"button button_link button_sign-js",
              "type":"button",
              "text": "Sign in",
              "form":"sign"
            })
          </li>
          <li class="header__item">
            @@include('button/index.html', {
              "class":"button button_link button_register-js",
              "type":"button",
              "text": "Register",
              "form":"register"
            })
          </li>
          <li class="header__item header__item_hidden">
            <a href="../../pages/profile/index.html" class="button button_link">My profile</a>
          </li>
      </ul>
  </nav>
</header>
