<header class="header container">
  <a href="/" class="header__link_logo @@class">Home</a>
  <nav>
      <ul class="header__nav dots_none">
          <li class="header__item">
            <a href="/" class="header__link">My blog</a>
          </li>
          <li class="header__item">
            @@include('button/index.html', {
              "class":"button__link button_sign-js",
              "type":"button",
              "text": "Sign in"
            })
          </li>
          <li class="header__item">
            @@include('button/index.html', {
              "class":"button__link button_register-js",
              "type":"button",
              "text": "Register"
            })
          </li>
          <li class="header__item header__item_hidden">
            <a href="../../pages/profile/index.html" class="header__link header__link_hidden">My profile</a>
          </li>
      </ul>
  </nav>
</header>
