@mixin font-size($font-size:18px,$line-height:21px,$font-weight:400) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

%psevdo {
    content: '';
    position: absolute;
    display: block;
}