$black: #070707;
$white: #FFFFFF;
$gray: #828282;
$sand: #F6F6F6;
$mercury: #E5E5E5;

$required: #EB3617;
$malachite: #03BC3C;

$navy-blue: #2176FF;
$blue: #33A1FD;
$yellow: #FDCA40;
$turquoise: #57E2E5;
$orange: #F79824;
$dusty-pink: #E08DAC;
$purple: #6A7FDB;
$green: #45CB85;


$transition: 0.4s;

$default-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";