<footer class="footer">
  <h2 class="footer__title">Contacts</h2>
  <p class="footer__description">Want to know more or just chat?You are welcome!</p>
  @@include('button/index.html', {
    "class":"button button_black button_send-js",
    "type":"button",
    "text": "Send message",
    "form":"send-message"
  })
  <ul class="footer__social common-no-list">
    <li class="footer__item"><a href="https://www.instagram.com/" class="button" target="_blank" rel="nofollow">Instagram</a></li>
    <li class="footer__item"><a href="https://vk.com/feed" class="button" target="_blank" rel="nofollow">Vk</a></li>
    <li class="footer__item"><a href="https://web.telegram.org/" class="button" target="_blank" rel="nofollow">Telegram</a></li>
    <li class="footer__item"><a href="mailto:zoopark86@yandex.ru" class="button" target="_blank" rel="nofollow">Mail</a></li>
    <li class="footer__item"><a href="https://github.com/" class="button" target="_blank" rel="nofollow">GitHub</a></li>
    <li class="footer__item"><a href="tel:+79608410621" class="button" target="_blank" rel="nofollow">Phone</a></li>
  </ul>
  <p class="footer__text">Design by <a href="https://dlacademy.ru/" class="footer__text footer__text_wrapper" target="_blank" rel="nofollow">DL Academy</a></p>
  <p class="footer__text">Program code from Antonina</p>
</footer>
