<footer class="footer">
  <h2 class="footer__title">Contacts</h2>
  <p class="footer__description">Want to know more or just chat?You are welcome!</p>
  <button type="button" class="footer__button button_send-js">Send message</button>
  <ul class="footer__social dots_none">
    <li class="footer__social_item"><a href="#" class="footer__link">Instagram</a></li>
    <li class="footer__social_item"><a href="#" class="footer__link">Vk</a></li>
    <li class="footer__social_item"><a href="#" class="footer__link">Telegram</a></li>
    <li class="footer__social_item"><a href="#" class="footer__link">Mail</a></li>
    <li class="footer__social_item"><a href="#" class="footer__link">GitHub</a></li>
    <li class="footer__social_item"><a href="#" class="footer__link">Phone</a></li>
  </ul>
  <p class="footer__text">Design by <a href="#" class="footer__text_wrapper">DL Academy</a></p>
  <p class="footer__text">Program code from Antonina</p>
</footer>
