<div class="popup popup__register">
    <h2 class="hidden">Modal Window</h2>
    <button class="popup_close register_close">
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
      </svg>
    </button>
    <form action="/contact" method="POST" class="form__register">
        <div class="register__column">
            <div class="register__column_wrapper">
                <label for="register_email" class="form__register_label">Email</label>
                <span class="register__required">*</span>
            </div>
            <input id="register_email" class="form__register_input" type="email" name="user_email" required>
        </div>
        <div class="register__column_double">
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_name" class="form__register_label">Name</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_name" class="form__register_input" type="name" name="user_name" required>
            </div>
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_surname" class="form__register_label">Surname</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_surname" class="form__register_input" type="surname" name="user_surname" required>
            </div>
        </div>
        <div class="register__column_double">
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_password" class="form__register_label">Password</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_password" class="form__register_input" type="password" name="user_password" required>
            </div>
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_repeat-password" class="form__register_label">Repeat password</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_repeat-password" class="form__register_input" type="password" name="user_repeat-password" required>
            </div>
        </div>
        <div class="register__column_double">
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_location" class="form__register_label">Location</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_location" class="form__register_input" type="location" name="user_location" required>
            </div>
            <div class="register__wrapper">
                <div class="register__column_wrapper">
                    <label for="register_age" class="form__register_label">Age</label>
                    <span class="register__required">*</span>
                </div>
                <input id="register_age" class="form__register_input" type="number" name="user_age" required>
            </div>
        </div>
        <div>
            <input id="check_input" type="checkbox" class="form__checkbox_input" name="consent to the processing of your personal data" required>
            <label for="check_input" class="form__checkbox_label" tabindex="0">Clicking on the button, you consent to the processing of your personal data.</label>
        </div>
        @@include('button/index.html', {
            "text":"Sign up",
            "type":"submit",
            "class":"button_register",
            "disabled":"disabled"
        })
    </form>
</div>